body {
    background: #115740 url("assets/njcublossom.jpeg") no-repeat fixed center;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
}

.header > img {
    height: 65px;
}

.flex-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.login-form {
    background-color: #115740;
    height: 550px;
    width: 450px;
    position: relative;
    top: 8%;
    border: 1px solid black;
}

form {
    color: white;
    position: relative;
    top: 12%;
}

.gothicnet-id {
    margin-bottom: 20px;
}

.gothicnet-pw {
    margin-bottom: 5px;
}

.options {
    margin-top: 21%;
    color: white;
}

.gothicnet {
    position: relative;
    top: 5%;
}

.btn {
    width: 70px;
    font-size: 13px;
    border: 1px solid black;
}


.bottom-container {
    position: absolute;
    top: 63%;
    left: 2%;
    background-color: #FFC72C;
    border: 1px solid black;
    max-width: 95%;
    max-height: 45%;
    font-size: 15px;
}

.bottom-container p {
    padding: 5px;
}